/*
* demo.css
* File include item demo only specific css only
******************************************************************************/
body {
  font-family: sans-serif;
  font-weight: 300;
  color: rgb(255, 255, 255);
  font-weight: 300;
  background-image: url('../img/backgrounds/i2.png');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  animation: zoomOut 2s ease forwards;
}

h4 {
  color: aliceblue;
  font-weight: 800;
}

@keyframes zoomOut {
  from {
    background-size: 106%;
    /* ukuran normal */
  }

  to {
    background-size: 100%;
    /* ukuran sedikit diperbesar */
  }
}


.app-brand-text {
  color: aliceblue !important;
  font-size: 30px;
}

.card {
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.18);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.9px);
  -webkit-backdrop-filter: blur(3.9px);
  border: 1px solid rgba(255, 255, 255, 0.35);
  animation: zoomIn 2s ease forwards;
}

@keyframes zoomIn {
  0% {
    transform: scale(0.9);
    /* mulai dari skala 0.8 */
  }

  50% {
    transform: scale(1.04);
    /* berkembang ke skala 1 */
  }

  100% {
    transform: scale(1);
    /* berakhir pada skala 0.9 */
  }
}


/*
* Layout demo
******************************************************************************/

.layout-demo-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-top: 1rem;
}

@media screen and (min-width: 300px) {
  .card {
    background-size: contain;
    /* mengatur agar gambar tidak diulang */
  }
}

.app-brand a {
  display: block;
  text-align: center;
}


.app-brand .brand-heading1 {
  color: aliceblue;
  font-weight: 100 !important;
  font-family: 'zodiak', 'serif';
  margin-bottom: 0;
}

.app-brand .brand-heading2 {
  color: aliceblue;
  font-weight: 600 !important;
  font-family: 'Arial', 'sans-serif';
}

input {
  background-color: rgba(0, 0, 0, 0.1) !important;
}

.form-control {
  color: white;
}

.form-control::placeholder {
  color: white;
}

.input:focus,
.form-control:focus {
  color: white;
  border: 1px solid #ffffff!important;
}

.form-label {
  color: aliceblue;
  font-weight: 700;
}

.input-group-text.cursor-pointer {
  background-color: rgba(0, 0, 0, 0.1) !important;
  border: 1px solid #d9dee3;
}

.input-group-text.cursor-pointer i {
  color: aliceblue !important;
}

a {
  color: rgb(0, 0, 0);
  font-weight: 600;
}
a:hover {
  color: rgb(255, 255, 255);
  font-weight: 600;
}

.btn-primary {
  color: #fff;
  font-weight: 700;
  background-color: #242424;
  border-color: #1a1b1d;
  box-shadow: 0 0.125rem 0.25rem 0 rgba(0, 0, 0, 0.4);
  transition: background-color 0.5s ease, color 0.3s ease, font-weight 0.3s ease;
}

.btn-primary:hover {
  background-color: #ffffff;
  color: #1a1b1d;
  font-weight: 900;
}
